<div class="contenido mt-3">
  <div class="location container-fluid animate__animated animate__fadeIn location container-fluid text-center">
      <address class="col">
        <h4>Encuéntranos</h4>
              <p>
              <i class="fas fa-map-marked-alt"></i>
              Calle San Roque, 3.<br>
              36001 - Pontevedra.<br>
              <strong>Pontevedra</strong>
              <br>
              <i class="fas fa-phone-alt"></i> Nº Teléfono
              <br>
              <i class="fas fa-envelope"></i> email</p>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11779.712273483143!2d-8.66058460670405!3d42.42926596854554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f71d07e8fbfd9%3A0x120196cc6348301d!2sR%C3%BAa%20San%20Roque%2C%204%2C%2036001%20Pontevedra!5e0!3m2!1ses-419!2ses!4v1599212774503!5m2!1ses-419!2ses"
          class="mapa" frameborder="0" style="border:0;" allowfullscreen="">
      </iframe>
  </address>
  </div>
</div>
