<div class="header">
  <div class="container text-center animate__animated animate__fadeIn">

    <img src="assets/img/arrital.png" alt="Arrital">
    <h3 class="text-center text-white"><small>PONTEVEDRA</small></h3>

    <div class="row-flex mt-1">

      <div class="col navbar-dark" id="navbar">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="[('sobre-nosotros')]"><small>Sobre nosotros</small></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="[('encuentranos')]"><small>Encuéntranos</small></a>
          </li>
        </ul>

      </div>

    </div>

    <div class="bg-black fixed">

      <div class="navbar-dark" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto list-inline mt-3">
          <li class="list-inline-item px-4 nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="[('cocina')]">Cocina</a>
          </li>
          <li class="list-inline-item px-4 nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="[('bano')]">Baño</a>
          </li>
          <li class="list-inline-item px-4 nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="[('servicios')]">Servicios</a>
          </li>
        </ul>

      </div>
    </div>

  </div>
</div>


